.header {
   background-color: black;
   color: white;
   text-align: center;
   padding: 10px;
}

.container {
   background-color: grey;
}

.search {
   display: block;
}

.input {
   margin-bottom: 10px;
}


.weekly-forecast {
   margin-top: 30px;
}

.search-history {
   margin-top: 30px;
}

